.cards {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
}

app-rect /*:not(:last-child)*/
{
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.flex {
    display: flex;
    justify-content: center;
}
